<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>结算详情---查看</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link th:href="@{/resources/bootstrap-3.3.2/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/font-awesome/3.2.1/css/font-awesome.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet" />
		<!-- page specific plugin styles -->
		<link th:href="@{/resources/ace/css/ace.min.css}" rel="stylesheet" />
		<link th:href="@{/resources/jsoil/css/wiwi-jsoil.css}" rel="stylesheet" />
	</head>

	<body style="background-color: white;">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row page-content">
			<div class="col-xs-12 tabbable">
				<ul th:if="${!isModal}" th:include="fragment :: topTab('view','结算详情','/settlement/settlementDetails')" class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab" ></ul>
				<div class="tab-content">
					<div class="tab-pane in active">
						<form action="#" class="form-horizontal" role="form">
							<input type="hidden"  th:field="${instance.id}"/>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> id </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.id}' placeholder='id' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> payOrgId </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.payOrgId}' placeholder='payOrgId' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> receiveOrgId </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.receiveOrgId}' placeholder='receiveOrgId' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> 金额 </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.amount}' placeholder='金额' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> title </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.title}' placeholder='title' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> orderId </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.orderId}' placeholder='orderId' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> originOrgId </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.originOrgId}' placeholder='originOrgId' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> orderPayPrice </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.orderPayPrice}' placeholder='orderPayPrice' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> percentage </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.percentage}' placeholder='percentage' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							<div class='form-group'>
								<label class='col-sm-3 control-label no-padding-right'> settlementId </label>
								<div class='col-sm-9'>
									<input type='text' th:field='${instance.settlementId}' placeholder='settlementId' class='col-xs-10 col-sm-5' />
								</div>
							</div>
							
							<div th:if="${!isModal}" class="clearfix form-actions">
								<div class="col-md-offset-3 col-md-9">
									<a th:href="@{/settlement/settlementDetailslist.do}" class="btn btn-prev">
										<i class="icon-arrow-left"></i>
										返回
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	
		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>
	</body>
</html>
